<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VuMeet</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;800&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<!-- <body id="zoom_page"> -->
<body>
    <div id="app" class="none">
        <div class="main_views">
            <!-- 
                2 users: grid_1_2
                3, 4 users: grid_2_2
                5-> 9: grid_3_4
             -->
            <div class="grid_users h-full relative flex center" id="wrap_users">
                <div class="user_card h-full w-full relative" id="temp_user_data">
                    <div class="user_mic absolute">
                        <i class='bx bxs-microphone-off' ></i>
                    </div>
                    <div class="user_item w-full h-full flex align-center center">
                        <video class="user_content none" src="" autoplay id="my_video"></video>
                        <img class="user_content" src="<%= picture %>" alt="">
                    </div>
                    <div class="user_name absolute">
                        <h1>Bạn</h1>
                    </div>
                </div>
            </div>
    
            <!-- khi user click search user, xem comment.... thi cai nay hien ra -->
            <div class="sidebar none">
    
            </div>
        </div>
        
        <div class="option flex space-between align-center">
            <div class="left_option">
                <span class="present_time">12:59</h1>
                <span style="margin: 0 5px;"> | </span>
                <span class="zoom_id">vdx-123-xxx</h1>
            </div>
            <div class="center_option flex center">
                <div class="option_item round-full bg-red flex align-center center" id="btnMicro">
                    <i class='bx bxs-microphone-off'></i>
                    <i class='bx bxs-microphone none' ></i>
                </div>
                <div class="option_item round-full bg-red flex align-center center" id="btnCamera">
                    <i class='bx bxs-camera-off' ></i>
                    <i class='bx bxs-camera-movie none' ></i>
                </div>
                <div class="option_item round-full bg-gray flex align-center center" id="">
                    <i class='bx bxs-hand'></i>
                </div>
                <div class="option_item round-full bg-gray flex align-center center" id="btnShareScreen">
                    <i class='bx bxs-slideshow'></i>
                </div>
                <div class="option_item round-full bg-gray flex align-center center">
                    <i class='bx bx-dots-vertical-rounded'></i>
                </div>
                <div class="option_item round-full bg-red flex align-center center" style="padding: 0 18px;">
                    <i class='bx bx-phone-off'></i>
                </div>
            </div>
            <div class="right_option flex end">
                <div class="option_item round-full flex align-center center">
                    <i class='bx bx-camera-movie'></i>
                </div>
                <div class="option_item round-full flex align-center center">
                    <i class='bx bx-camera-movie'></i>
                </div>
                <div class="option_item round-full flex align-center center">
                    <i class='bx bx-camera-movie'></i>
                </div>
                <div class="option_item round-full flex align-center center">
                    <i class='bx bx-camera-movie'></i>
                </div>
                <div class="option_item round-full flex align-center center">
                    <i class='bx bx-camera-movie'></i>
                </div>
            </div>
        </div>
    </div>

    <div id="app_prev">
        <header class="header_home flex space-between">
            <a href="#" class="">
                <img src="/img/logoo.png" class="h-36" alt="">
            </a>
            <div class="flex">
                <div class="flex align-center text-18">
                    10:20 Th4, 5 Thg 1 2021
                </div>
                <div class="header_menu-center flex">
                    <div class="header_item flex round-full align-center center cursor-pointer">
                        <i class='bx bxl-tiktok text-18'></i>
                    </div>
                    <div class="header_item flex round-full align-center center cursor-pointer">
                        <i class='bx bxl-tiktok text-18'></i>
                    </div>
                    <div class="header_item flex round-full align-center center cursor-pointer">
                        <i class='bx bxl-tiktok text-18'></i>
                    </div>
                </div>
                <% if(email) {%>
                <div class="header_menu-end flex">
                    <!-- login thanh cong -->
                    <div class="header_item flex round-full align-center center cursor-pointer">
                        <i class='bx bxl-tiktok text-18'></i>
                    </div>
                    <div class="header_item flex relative round-full align-center center cursor-pointer">
                        <label for="toggle_info_login" class="cursor-pointer">
                            <img src="<%= picture %>" class="header_image-login round-full b-1" alt="">
                        </label>
                        <input type="checkbox" name="toggle_info_login" id="toggle_info_login" hidden>
                        <div class="login_info absolute none text-center">
                            <p style="color: gold; margin-bottom: 5px">Tài khoản google</p>
                            <p><%= name %></p>
                            <p><%= email %></p>
                            <button id="homeBtnLogOut" onclick="logout()">Đăng xuất</button>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div id="btnLoginWithGG"></div> 
                <% } %>
            </div>
        </header>
        <div class="flex container">
            <div class="prev_left">
                <div class="prev_wrap_video relative">
                    <video src="" autoplay class="prev_video" muted></video>
                    <div class="prev_option absolute flex center">
                        <div class="prev_micro bg-red round-full flex align-center center" id="btnPrevMicro">
                            <i class='bx bxs-microphone-off none'></i>
                            <i class='bx bxs-microphone' ></i>
                        </div>
                        <div class="prev_camera bg-red round-full flex align-center center" id="btnPrevCamera">
                            <i class='bx bxs-camera-off none' ></i>
                            <i class='bx bx-camera-movie'></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prev_right">
                <button id="btnCreateZoom" onclick="joinZoom()">Tham gia cuoc hop</button>
            </div>
        </div>
    </div>
    <script src="/lib/peerjs.min.js"></script>
    <script src="/lib/socket.io.min.js"></script>
    <script src="/js/preview.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/handle.peer.js"></script>
</body>

</html>